<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div style="display: block; margin: 100px">
    <div style="text-align: center">
        <a th:href="@{/hospitals}">
            <button class="button1" style="font-size: 20px; margin: auto"> Back</button>
        </a>
    </div>
</div>



<!DOCTYPE html>
<html>
<head>
    <title>Card Effect</title>
</head>
<body>
<div th:each="department:${departments}">
            <div>
                <i></i>
                <h3 th:text="${department.getName()}">Department</h3>
            </div>
            <div>
                <td><a th:href="@{/departments/edit/{departmentId}(departmentId=${department.getId()})}">
                    <button>Update</button>
                </a>
                <br>
                <br>
                <td><a>
                    <form th:method="DELETE" th:action="@{/departments/{id}/{hosId}(id=${department.getId()},hosId=${hospitalId})}">
                        <button>Delete</button>
                    </form>
                </a>

            </div>
        </div>
    </div>
</div>
<div style="text-align: center">
    <a th:href="@{/departments/{id}/newDepartment(id=${hospitalId})}">
        <button style="font-size: 30px;">add new departments</button>
    </a>
</div>
</body>
</html>
</body>
</html>