<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div style="text-align: center">
    <a th:href="@{/hospitals}">
        <button style="font-size: 20px;  margin: auto"> Back</button>
    </a>
</div>




<heading>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pure CSS Responsive Card Hover Effect</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</heading>

<div>

    <center>
        <h1 class="title">Patients</h1>
    </center>



    <div style="display: flex; flex-wrap: wrap" th:each="patient:${patients}">


        <div  style="display: flex; flex-wrap: wrap" >
            <div>
                <div>
                    <div>
<!--                        <h2 >First Name</h2>-->
                        <span th:text="${patient.getFirstName()}">First Name</span>
                        <span th:text="${patient.getLastName()}">Last Name</span>
                    </div>
                    <div class="back from-bottom">
                        <span th:text="${patient.getFirstName()}">First Name</span>
                        <span th:text="${patient.getLastName()}">Last Name</span>
                        <h3 th:text="${patient.getEmail()}" >Email</h3>
                        <h3 th:text="${patient.getPhoneNumber()}">PhoneNumber</h3>
                        <h3 th:text="${patient.getGender()}">Gender</h3>


                        <td><a th:href="@{/patients/edit/{patientId}(patientId=${patient.getId()})}">
                            <button class="box" >Update</button>
                        </a>

                        <br>


                        <td><a >
                            <form th:method="DELETE" th:action="@{/patients/{id}/{hosId}(id=${patient.getId()},hosId=${hospitalId})}">
                                <button>Delete</button>
                            </form>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
<br>
<div style="text-align: center">
    <a th:href="@{/patients/{id}/newPatient(id=${hospitalId})}">
        <button style="font-size: 30px;  margin: auto"> ADD PATIENT</button>
    </a>
</div>
</div>
</body>
</html>