<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<table>
  <thead>
  <tr>
    <th><h1>HospitalName</h1></th>
    <th><h1>HospitalAddress</h1></th>
    <th><h1>Patient Count</h1></th>
    <th><h1>Doctor Count</h1></th>

  </tr>
  </thead>


  <tr "th:each="hospitael:${hospitals}">
    <td th:text="${hospital.getName()}"></td>
    <td th:text="${hospital.getAddress()}"></td>
    <td th:text="${hospital.getCount()}"></td>
    <td th:text="${hospital.getDoctorCount()}"></td>





    <td><a th:href="@{/hospitals/edit/{id}(id=${hospital.getId()})}">
      <button>Update</button>
    </a>

    <td><a >
        <form th:method="DELETE" th:action="@{/hospitals/{hospitalId}/delete(hospitalId=${hospital.getId()})}">
          <button>Delete</button>
      </form>
    </a>


    <td>
      <a th:href="@{/patients/{id}(id=${hospital.id})}">
        <button>Patient</button>
      </a>
    </td>

    <td>
      <a th:href="@{/doctors/{id}(id=${hospital.id})}">
        <button>Doctor</button>
      </a>
    </td>

    <td>
      <a th:href="@{/departments/{id}(id=${hospital.id})}">
        <button>Department</button>
      </a>
    </td>

    <td>
      <a th:href="@{/appointments/{id}(id=${hospital.id})}">
        <button>Appointment</button>
      </a>
    </td>

  </tr>





</table>
<button style=" display: block; margin:auto; font-size:30px;" onclick="window.location.href = 'hospitals/new'">add new hospitals
</button>
<br>
<br>
</body>
</html>