<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>



<form th:method="POST" th:action="@{/hospitals/{id}/update (id=${hospital.getId()})}" th:object="${hospital}">

    <br>

    <div>
        <input required="required" type="text" th:field="*{name}" >
        <span>Name</span>
        <i></i>
    </div>
    <br>

    <div>
        <input required="required" type="text" th:field="*{address}" >
        <span>Address</span>
        <i></i>
    </div>
    <br>
    <br>
    <button type="submit">Update Hospital</button>

</form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</html>