<!DOCTYPE html>
<html lang="en" ang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="text-align: center">
    <a th:href="@{/hospitals}">
        <button style="font-size: 20px;  margin: auto"> Back</button>
    </a>
</div>

<div th:each="doctor:${doctors}">
    <div>
            <p th:text="${doctor.getEmail()}" >Doctor Email</p>

        <div>

            <div th:text="${doctor.getFirstName()}">
                First Name
            </div>

            <div th:text="${doctor.getLastName()}">
                Last Name
            </div>

        </div>

        <div th:text="${doctor.getPosition()}">
            Position
        </div>
        <br>





        <td>
            <form th:method="POST"
                  th:action="@{/doctors/{doctorId}/assignDepartment(doctorId=${doctor.getId()})}">
                <select style="width: 90px" name="instructor" class="form-select form-select-sm" aria-label=".form-select-sm example"
                        th:object="${department}"
                        th:field="*{id}">
                    <option th:each="department : ${departments}"
                            th:value="${department.id}"
                            th:text="${department.name}"></option>
                </select>
                <input type="submit" name="text" class="input" value="sumbit" placeholder="Type here...">
            </form>
        </td>


        <br>
        <td><a th:href="@{/doctors/edit/{doctorId}(doctorId=${doctor.getId()})}">
            <button>Update</button>
        </a>
        <br>

        <td><a >
            <form th:method="DELETE" th:action="@{/doctors/{id}/{hosId}(id=${doctor.getId()},hosId=${hospitalId})}">
                <button>Delete</button>
            </form>
        </a>

    </div>
</div>
<br>
<br>
<br>
<br>
<div style="text-align: center">
    <a th:href="@{/doctors/{id}/newDoctor(id=${hospitalId})}">
        <button style="font-size: 30px;">add new doctors</button>
    </a>
</div>
<br>
<br>
<br>
<br>

</body>
</html>